<meta charset="utf8" />

<input _autocorrect="true" type="text" id="input-test" />
<br />

<textarea _autocorrect="true" id="textarea-test"></textarea>
<br />

<textarea _autocorrect="false" id="textarea-test2"></textarea>
<br />

<div _autocorrect="true" id="cedit" contenteditable="true">123</div>
<br/>

<input />